@font-face {
   font-family: 'SaolDisplay-Regular';
   font-display: swap;
   src: url('file:///Users/xbutil/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-01-15_092405/fonts/SaolDisplay-Regular/font.ttf');
}
